.row {
    padding: 5px 1em 5px 1em !important;
    background-color: #fff !important;
    border-bottom: solid 1px #efefef !important;
    height: 64px;
}

.icn {
    width: 30px;
    height: 30px;
}

.btn {
    width: 40px;
}